<!DOCTYPE html>
<html>
  <head>
    <script src="../scripts/jquery-3.2.0.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/scripts.js"></script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <title>Zach's Hair Salon!</title>
  </head>
  <body>
    <div class="well">

    <h1 class="well">Welcome to Zach's Hair Salon!</h1>

    <h3>Create a new Stylist:</h3>


    </div>
    </body>
    </html>
