<!DOCTYPE html>
<html>
  <head>
    <script src="../scripts/jquery-3.2.0.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/scripts.js"></script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <title>Zach's Hair Salon!</title>
  </head>
  <body>
    <div class="well">

    <h1 class="well">Welcome to Zach's Hair Salon!</h1>

    <h3>Create a new Stylist:</h3>

    <form action="/stylists" method="post">
      <div class='form-group'>
        <label for="name">Stylist name:</label>
        <input id="name" name="name" type="text">
      </div>
      <div class='form-group'>
        <button type="submit">Add Clients</button>
      </div>
    </form>

    {% if stylists is not empty %}
        <p>Here are all your stylists:</p>
        <ul>
            {% for clients in stylists %}
                <li><a href="/stylists/{{ stylists.getId }}">{{ stylists.getName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
      <p>There are no stylists yet!</p>
    {% endif %}

    </div>
    </body>
    </html>
