<!DOCTYPE html>
<html>
  <head>
    <script src="../scripts/jquery-3.2.0.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/scripts.js"></script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <title>Zach's Hair Salon!</title>
  </head>
  <body>
    <div class="well">
      <h1 class="well">Welcome to Zach's Hair Salon!</h1>
      <h3>Create a new Stylist:</h3>
      <form action="/stylists" method="post">
        <div class='form-group'>
          <label for="name">Stylist name:</label>
          <input id="name" name="name" type="text">
        </div>
        <div class='form-group'>
          <button type="submit">Add a Stylist!</button>
        </div>
      </form>
      {% if stylists is not empty %}
        <h2>Here are the stylists on your crew:</h2>
        {% for stylist in stylists %}
        <h1>Stylist: {{ stylist.getStylistName }}</h1>
            {% for client in clients %}
            <ul>
            {% if stylist.getId == client.getStylistId %}
                <h2>Client: {{ client.getClientName }}</a></h2>
            {% endif %}
            </ul>
            {% endfor %}
        {% endfor %}
      </div>
    <div class="col-sm-6 form">
              <form action='/delete_stylists' method='post'>
                  <button class='btn btn-danger' type='submit'>Delete Stylists</button>
              </form>
          </div>
      </body>
    </html>
