<!DOCTYPE html>
<html>
  <head>
    <script src="../scripts/jquery-3.2.0.js"></script>
    <script src="../scripts/bootstrap.js"></script>
    <script src="../scripts/scripts.js"></script>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../css/styles.css" type="text/css" rel="stylesheet">
    <title>Zach's Hair Salon!</title>
  </head>
  <body>
    <div class="well">

    <h1 class="well">Welcome to Zach's Hair Salon!</h1>

    <h3>Stylist: {{ stylist.getName }}</h3>

    <form class="" action="/client" method="post">
      <input type="hidden" name="stylist_id" value="{{ stylist.getId }}">
      <input type="text" name="name">
      <button type="submit">Click here to submit!</button>
    </form>

    {% if clients is not empty %}
      {% for client in clients %}
        {{ client.name }}
      {% endfor %}
    {% endif %}
    <a href="/">Go back home</a>



    </div>
    </body>
    </html>
